<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.favorite.dao.FavoriteDAO">

    <select id="findFavorite" parameterType="map" resultType="com.boot.favorite.dto.FavoriteDTO">
        SELECT favorite_id, user_no, stat_id, addr, addr_detail, location, lat, lng, created_at
        FROM ev_user_favorites
        WHERE user_no = #{user_no} AND stat_id = #{stat_id}
    </select>

    <insert id="insertFavorite" parameterType="com.boot.favorite.dto.FavoriteDTO" useGeneratedKeys="true" keyProperty="favorite_id">
        INSERT INTO ev_user_favorites (user_no, stat_id, addr, addr_detail, location, lat, lng)
        VALUES (#{user_no}, #{stat_id}, #{addr}, #{addr_detail}, #{location}, #{lat}, #{lng})
    </insert>

    <delete id="deleteFavorite" parameterType="map">
        DELETE FROM ev_user_favorites
        WHERE user_no = #{user_no} AND stat_id = #{stat_id}
    </delete>

</mapper>